<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll Admin</title>
        <% include partials/_header %>

  </head>

  <body>
   <h1><%= (poll[0].title) %></h1>
    <% console.log(poll); %>


    <%var newArray = poll.sort(function(a, b){ %>
    <% return b.submit_count - a.submit_count; %>
    <% });%>

    <% newArray.forEach(function(result, index){ %>
    <p><%= result.option; %></p>
    <p><%= result.description; %></p>
    <p><%= index +1 %>
    <p><%= result.submit_count; %></p>
    <%});%>



  </body>
</html>

