<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll Admin</title>
        <% include partials/_header %>
  </head>

  <body>
   <h1><%= (poll[0].title) %></h1>

    <%var newArray = poll.sort(function(a, b){ %>
    <% return b.submit_count - a.submit_count; %>
    <% });%>

    <% newArray.forEach(function(result, index){ %>
    <p>Option: <%= result.option; %></p>
    <p>Description: <%= result.description; %></p>
    <p>Rank: <%= index +1 %>
    <p>Total Points: <%= result.submit_count; %></p>
    <%});%>

  </body>
</html>

