<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll Admin</title>
        <% include partials/_header %>
  </head>

  <body>
    <div class="container-fluid">
     <h1><%= (poll[0].title) %></h1>
    </div>

    <div class="container">
      <h2>Your poll results have been calculated!</h2>
    </div>

    <%var newArray = poll.sort(function(a, b){ %>
    <% return b.submit_count - a.submit_count; %>
    <% });%>

    <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Option</th>
          <th>Description</th>
          <th>Rank</th>
          <th>Total Points</th>
        </tr>
      </thead>

    <% newArray.forEach(function(result, index){ %>

      <tbody>
        <td>
          <%= result.option %>
        </td>
        <td>
          <%= result.description %>
        </td>
        <td>
          <%= index +1 %>
        </td>
        <td>
          <%= result.submit_count %>
        </td>
      </tbody>
    <%});%>
    </table>
    </div>


  </body>
</html>

